*{
    margin: 0;
    padding: 0;
}
.conatctCard{
    width: 250px;
    background-color: darkcyan;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px auto;
    color: aliceblue;
 
}
.h1{
    display: block;
    text-align: center;
    font-size: 30px;
}
